/* using flexbox properties for excercise 2 -- by default flex direction is row */
.d-flex {
    display: flex;
}

/* using display block practice for exercise 3 */
section {
 display: block;
 width: 50%;
 float: left;

}

/* adding background color for first column */
.csym019 {
    background-color: #add8e6;
}

/* adding background color for second column */
.csym015 {
    background-color: yellow;
}

/* padding added to both coloumns for exercise 2 */
.padding_10px {
    padding: 10px;
}