header {
background-color: #1a263a;
color: #83a7bd;
padding: 20px;
border: solid 3px black;
}

nav {
background-color: darkgray;
width: 20%;
padding-top: 10px;
}

main {
background-color: #83a7bd;
color: white;
width: 60%;
padding: 50px 10px;
}

aside {
background-color: darkgray;
color: #1a263a;
width: 20%;
padding: 10px;
}

footer {
background-color: #1a263a;
color: #83a7bd;
border: solid 3px #83a7bd;
padding: 30px 20px;
}